html, body{
    max-width: 100%;
    overflow-x: hidden;
    background-image: url("../images/BackgroundImages/orangeBlacHexagonsR.jpg");
    background-size: 50%;
    background-color: black;        
}

main{    
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center
}

.navbar{
    background-color: rgb(0, 0, 0);
}

.navbar-dark{    
    border-bottom: 3px solid #ff8400;   
}

.navbar-brand{
    display: flex;
    justify-content: center;
    color: rgb(206, 206, 206)
}

.nav-spacing{
    margin-right: 2em;
}

.nav-link:active{
    color: #ffffff;
}

.navbar-collapse{
    justify-content: flex-end;
    font-weight: bold;
    text-transform: uppercase;
}

.logo{
    height: 50px;
}

.spacer{   
    height: 79px;
}

p {
  font-family: 'Barlow', sans-serif;
}

.text-center{
    margin-top: 10px;
    color: #ed4b00;
}

.offset{
    height: 82.5px;
}

.cohort31{
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
}

.header-text{
    font-weight: bold;    
    color: white;
    text-align: center;
    vertical-align: middle;
}

.subtitle-font{
    font-weight: bold;    
    color: white;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 20px;
}

.row{
    justify-content: center;
}

.col-md-3.cohortMems{
    border-radius:10px;
    box-shadow: 0px 0px 5px 8px  rgb(255, 255, 255);
    margin: 25px;
    max-width: 250px;
    justify-content: space-around;
    background: white;
    transition: 0.3s;
}

.col-md-3.cohortMems:hover{  
    box-shadow: 0px 0px 10px 11px rgba(255,132,0,1);  
}

.technos{    
    margin: 30px 30px 30px 30px;
    background: white;
    padding:20px;
    border-radius: 20px;    
    box-shadow: 0px 0px 5px 8px  rgb(255, 255, 255);
    max-width: 750px;            
}

.col-sm-2.technologies{    
    transition: transform .2s;
    min-width: 100px;
    max-width: 100px;
}

.col-sm-2.technologies:hover {
    transform: scale(1.2);
}

.techs{
    width: 70px;
    margin: 20px 0px;
}

.thankYou{    
    margin: 30px 30px 30px 30px;
    background: white;
    padding:20px;
    border-radius: 20px;    
    box-shadow: 0px 0px 5px 8px  rgb(255, 255, 255);
    max-width: 750px; 
}

.card-img-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body{
    max-height: 100%;
    max-width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 230px;
}

.image_off, #home:hover .image_on{
    display:none
}

.image_on, #home:hover .image_off{
    display:block
}
 
.col, [class*="col-"]{
    padding-right: 0;
    padding-left: 0;
}

.modal-body{
    display: block;
}

.studentContact{
      text-align: center;
      display: flex;
      justify-content: space-evenly;
      -webkit-justify-content: space-evenly;
      margin-bottom: .75rem;
}

.contactIcons{
      color: #000000;
}

.contactIcons:hover{
      transform: scale(1.2);
}

.modal-header{
    background-color: lightgray!important;
    color: #000000;
}

.modal-body img{
    width: 50%;
    height: 50%;
    box-shadow: 3px 3px 5px #cacaca;
    border-radius: 10px;
}

.backButton{
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
}

#demo-date {
    text-align: center;
}

#demo-date a {
    color: #c5c1bb!important;
    text-align: center;
}

button{
    cursor: pointer;
}

.btn-outline-primary{
    color: #000000!important;
    border-color: #000000!important;
}

.btn-outline-primary:not([disabled]):not(.disabled).active, .btn-outline-primary:not([disabled]):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle{    
    box-shadow: 0 0 0 0.2rem rgba(255,132,0,1);
}

.btn-outline-primary.focus, .btn-outline-primary:focus{
    box-shadow: 0 0 0 0.2rem rgba(255,132,0,1);
}

.btn-outline-primary:hover{
    color: white!important;
    background-color: #000000!important;
}

.container{
    justify-content: space-around;
    max-width: 100%;
}

/* adjusts size of contact icons depending on size of card */
@media (min-width: 1000px){
    .fa-3x{
        font-size: 2.5em!important;
    }
}

@media (min-width: 530px) and (max-width: 999px){
    .fa-3x{
        font-size: 2em!important;
      }
}

@media (min-width: 0px) and (max-width: 530px){
    .fa-3x{
        font-size: 2em!important;
      }    
    .cohort31SubTitle{
        display: none;
    }
    .navbar-brand{
        display: flex;
        justify-content: center;
        color: rgb(206, 206, 206);
        font-size: 14px
    }
}

